
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

.slide {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  color: rgb(107 114 128);
  background-color: white;
}

.slide::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(99 102 241);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.slide:hover {
  cursor: pointer;
  color: white;
}

.slide:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
